/* Color */
$separator-gray:        #e1e1e1;
$inactive-color:        #adadad;
$iso-blue:              #1793fc;
$base-color:            #292929;
$secondary-color:       #818181;
$iso-mobile-font-color: #666668;
$iso-list-item:         #6d6d6d;
$iso-gray-light:        #f7f7f7;
$iso-gray-light-border: #f3f3f3;
$iso-gray-light-text:   #bababa;
$iso-title-bg:          #4a4a4a;
$iso-error-color:       #c00;
$iso-color-secondary:   #818181;

$calc-input-light-gray: #eceff1;
$calc-light-gray:       #ebebeb;
$calc-gray:             #999;

$calc-dark-gray: #a9a9a9;
$calc-white: #fff;

$font-size-header-large: 28px;
$font-size-header-medium: 16px;

$font-size-hero-large: 42px;
$font-size-hero-medium: 28px;

$font-size-medium: 16px;
$font-size-medium-plus: 22px;
$font-size-small: 12px;


$font-family-primary: $gotham-medium;
$font-family-secondary: $gotham-book;
